{% load bootstrap_tags i18n bootstrap_toolkit %}

<div id="card-info" class="row">
  <div class="span12">
    {% if  message %}
      {{ message }}
    {% else %} 
      {% if  error %}
        {{ error }}
      {% endif %}
    <h2>{% trans "You just selected" %} {{ plan.name }}</h2>
    {% if request.user.customer.card_kind and request.user.customer.card_last_4 %}
        <p>Current card on file is a <strong>{{ request.user.customer.card_kind }}</strong>
        ending in the digits <strong>{{ request.user.customer.card_last_4 }}</strong>.</p>
        <div class="actions">
          <a class="btn primary">{% trans "Pay with existing card" %}</a>
          <a class="btn">{% trans "Change card" %}</a>
        </div>
    {% else %}
      <h3>{% trans "Please info your credit card info:" %}</h3>
      <form class="form-horizontal" action="{% url 'payments_pay_subscribe' %}" method="POST" id="payment-form">
        {% csrf_token %}
        <span class="payment-errors"></span>

        <div class="control-group">
          <label class="control-label">Card Number</label>
          <div class="controls">
            <input type="text" size="20" data-stripe="number"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">
            <span>CVC</span>
          </label>
          <div class="controls">
            <input type="text" size="4" data-stripe="cvc"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">
            <span>Expiration (MM/YYYY)</span>
          </label>
          <div class="controls">
            <input type="text" size="2" data-stripe="exp-month"/>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit Payment</button>
      </form>
      {% comment %}
        
      <form id="payment-form" class="form-horizontal" action="{{request.path}}" method="post">
        <span class="payment-errors"></span>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div>
            <button type="submit" class="btn btn-primary">{% trans "Submit Payment" %}</button>
        </div>
      </form>
      {% endcomment %}
    {% endif %}
    {% endif %}
  </div>
</div>